<div class="container-fluid auto w-75 align-middle ">
  <h1>Calculatrice by <strong>@massimo</strong> - Team BDX</h1>
  <br>
  <div class="calc w-50 h-75">

      <div class="block-p">
        <button class="alert-dark w-100 result">Result</button>
      </div>

      <div class="blocks">
        <button type="button" class="bto block-1 btn-primary w-75 d-inline-block">AC</button>
        <button type="button" class="bto block btn-warning w-25 d-inline-block">/</button>
      </div>

      <div class="blocks">
        <button type="button" class="bto block-1 lol btn-light w-25">7</button>
        <button type="button" class="bto block-n lol btn-light w-25">8</button>
        <button type="button" class="bto block-n lol btn-light w-25">9</button>
        <button type="button" class="bto lol btn-warning w-25">*</button>
      </div>

      <div class="blocks">
        <button type="button" class="bto block-1 btn-light w-25">4</button>
        <button type="button" class="bto block-n btn-light w-25">5</button>
        <button type="button" class="bto block-n btn-light w-25">6</button>
        <button type="button" class="bto btn-warning w-25">-</button>
      </div>

      <div class="blocks">
        <button type="button" class="bto block-1 btn-light w-25">1</button>
        <button type="button" class="bto block-n btn-light w-25">2</button>
        <button type="button" class="bto block-n btn-light w-25">3</button>
        <button type="button" class="bto btn-warning w-25">+</button>
      </div>

      <div class="blocks">
        <button type="button" class="bto block-1 btn-light w-75 bg">0</button>
        <button type="button" class="bto btn-warning w-25">=</button>
      </div>

  </div>
</div>
