// Place all the styles related to the Static_Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  margin: 0 25%;
}

*:focus {
    outline: 0 !important;
}

.calc {
  font-size: 3vh;
}

.result {
  height: 15vh;
  text-align: right;
  padding-right: 40px;
  font-size: 4vh;
}

#logo {
  width: 150px;
}

#result {
  background-color: rgb(135,135,135);
  color: white;
}

.auto {
  height: 83vh;
}

.block {
    display: inline-block;
    width: 50%;
}

.block-1 {
    margin-right: -0.75em;
}

.block-n {
    margin-right: -0.25em;
}

.block-p {
    width: 98%;
}

#footer {
  background-color: rgb(246,247,249);
  display:flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
}

.bto {
  padding: 1vw 0;
  border: 1px solid white;
  height: 10vh;
}
