

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%= root_path %>"><img id="logo" src="http://thp-agency.herokuapp.com/assets/logo-d36597a810f80a0e3c8ef6cb7b447c771565d605521871742c490f1192406590.png" alt="Logo">
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

    </ul>
  </div>
</nav>
